@model Product
<div class="form-row">
    <div class="col-12 col-md-12">
        <div class="form-group">
            <label asp-for="Descriptions"></label>
            <textarea asp-for="Descriptions"></textarea>
        </div>
    </div>
</div>
