@model Product
@{
    var entityName = "Ürün";
    ViewData["Title"] = $"{entityName} Güncelleme";
}

<div class="card card-primary">
    <div class="card-header d-flex">
        <div class="flex-fill">
            <i class="fa fa-list"></i>
            @entityName Ekleme Formu
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Date" />
            <input type="hidden" asp-for="Picture" />
            <partial name="CreateOrUpdate" model="Model" />
        </form>
    </div>
</div>
@section head {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script>
        $(() => {

            $('#BrandId').select2({
                'theme': 'bootstrap4'
            });

            $('textarea').summernote({
                'height': '400px'
            });

            $('#PictureFilePreview').click(function () { $('#PictureFile').click() });

            $('#PictureFile').change(function (e) {
                var fileReader = new FileReader();
                fileReader.onload = function () {
                    $('#PictureFilePreview').attr('src', fileReader.result);
                };
                fileReader.readAsDataURL(e.target.files[0]);
            });

            $('#PictureFiles').change(function (e) {
                $('#PictureFilePreviews').html('');
                for (var i = 0; i < e.target.files.length; i++) {
                    var fileReader = new FileReader();
                    fileReader.onload = function (evt) {
                        $('#PictureFilePreviews').append(`
                         <div class="p-2">
                            <div class="card shadow-sm">
                                <img src="`+ evt.target.result + `" class="img-card-top" />
                                <div class="card-body text-center">
                                
                                </div>
                            </div>
                        </div>
                        `);
                    };
                    fileReader.readAsDataURL(e.target.files[i]);
                }
            });
        });
    </script>
}