@model Category
@{
    var entityName = "Kategori";
    ViewData["Title"] = $"{entityName} Ekleme";
}

<div class="card card-default mb-2">
    <div class="card-header d-flex">
        <div class="flex-fill">
            <i class="fa fa-list"></i>
            Üst Kategori
        </div>
    </div>
    <div class="card-body">
        <h2>@ViewBag.Path</h2>
    </div>
</div>

<div class="card card-primary">
    <div class="card-header d-flex">
        <div class="flex-fill">
            <i class="fa fa-list"></i>
            @entityName Ekleme Formu
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="ParentId" />
            <ul class="nav nav-tabs" id="productTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab"><i class="fa fa-tag"></i> Genel</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="variantGroups-tab" data-toggle="tab" href="#variantGroups" role="tab"><i class="fa fa-code-branch"></i> Varyant Grupları</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="picture-tab" data-toggle="tab" href="#picture" role="tab"><i class="fa fa-image"></i> Fotoğraf</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active border border-top-0 p-2" id="general" role="tabpanel">
                    <partial name="CreateOrUpdateGeneral" model="Model" />
                </div>
                <div class="tab-pane fade border border-top-0 p-2" id="variantGroups" role="tabpanel">
                    <partial name="CreateOrUpdateVariantGroups" model="Model" />
                </div>
                <div class="tab-pane fade border border-top-0 p-2" id="picture" role="tabpanel">
                    <partial name="CreateOrUpdatePicture" model="Model" />
                </div>
            </div>

            <hr />
            @if (Model.ParentId == null)
            {
                <a asp-action="Index" class="mr-2">İptal</a>
            }
            else
            {
                <a asp-action="Edit" asp-route-id="@Model.ParentId" class="mr-2">İptal</a>
            }
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Kaydet</button>
        </form>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(() => {

            $('#PictureFilePreview').click(function () { $('#PictureFile').click() });

            $('#PictureFile').change(function (e) {
                var fileReader = new FileReader();
                fileReader.onload = function () {
                    $('#PictureFilePreview').attr('src', fileReader.result);
                };
                fileReader.readAsDataURL(e.target.files[0]);
            });
        });
    </script>
}