@model Category
<div class="form-row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <ul class="breadcrumb p-0 bg-transparent">
                @foreach (var categoryParent in Model.GetPathItems())
                {
                    <li class="breadcrumb-item">
                        <a asp-action="Edit" asp-route-id="@categoryParent.Id">@categoryParent.Name</a>
                    </li>
                }
                <li class="breadcrumb-item active">
                    @Model.Name
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheckEnabled" asp-for="Enabled">
                <label class="custom-control-label" for="customCheckEnabled">Yayınla</label>
            </div>
        </div>
    </div>
</div>
