@{
    var entityName = "Reyon";
    ViewData["Title"] = $"{entityName} Tanımları";
}

<div class="card card-default">
    <div class="card-header d-flex">
        <div class="flex-fill">
            <i class="fa fa-list"></i>
            @entityName Listesi
        </div>
        <div>
            <a asp-action="Create" class="btn btn-link py-1 text-secondary text-decoration-none">
                <i class="fa fa-plus"></i> Yeni @entityName
            </a>
        </div>
    </div>
    <div class="card-body">

    </div>
</div>
