@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="h1 border-right text-secondary p-5">404</div>
    <div class="p-5 d-flex flex-column align-items-center">
        <div class="p-2">
            <i class="far fa-3x fa-sad-tear"></i>
        </div>
        <div class="h3 p-2">
            Aradığınız sayfa bulunamıyor...
        </div>
        <div class="p-2 small">
            <b class="text-secondary">Theia</b>Commerce - <a asp-action="Index">Home</a>
        </div>
    </div>
</div>
