<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">
            <i class="fa fa-fw fa-sign-in-alt"></i> ÜYE GİRİŞİ
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">
            <i class="fa fa-fw fa-user-plus"></i> YENİ ÜYELİK
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Profile">
            <i class="fa fa-fw fa-user"></i> HESABIM
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Dashboard" asp-area="Admin">
            <i class="fa fa-fw fa-wrench"></i> ADMIN
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Loout">
            <i class="fa fa-fw fa-running"></i> ÇIKIŞ
        </a>
    </li>
</ul>