@model VariantGroup
@{
    var entityName = "Varyant Gurubu";
    ViewData["Title"] = $"{entityName} Ekleme";
}

<div class="card card-primary">
    <div class="card-header d-flex">
        <div class="flex-fill">
            <i class="fa fa-list"></i>
            @entityName Ekleme Formu
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <partial name="CreateOrUpdate" model="Model" />
        </form>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}