@model VariantGroup
@{
    var entityName = "Varyant Gurubu";
    ViewData["Title"] = $"{entityName} Güncelleme";
}

<div class="card card-primary mb-2">
    <div class="card-header d-flex" data-toggle="collapse" data-target="#editFormCardBody">
        <div class="flex-fill">
            <i class="fa fa-list"></i>
            @entityName Güncelleme Formu
        </div>
    </div>
    <div class="card-body collapse show" id="editFormCardBody">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Date" />
            <input type="hidden" asp-for="SortOrder" />
            <partial name="CreateOrUpdate" model="Model" />
        </form>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
