<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

</head>
<body>
    <a asp-action="Index" asp-controller="Dashboard" asp-area="Admin">Admin</a>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
