<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="~/css/site/site.min.css" rel="stylesheet" />
</head>
<body class="h-100">
    <div class="d-flex flex-column h-100 wrapper">
        <partial name="TopNavBar" />
        <div class="bg-light flex-fill">
            <div class="bg-white border-left border-right shadow-sm container h-100">
                <div class="row">
                    @await Component.InvokeAsync("SearchBar")
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        @await Component.InvokeAsync("CategoryBar")
                    </div>
                </div>
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(() => {
            $('[data-toggle="tooltip"]').tooltip({
                container: '.wrapper'
            });
            
            $('#SearchForm #categoryDropdownMenuButton').html($('#SearchForm a[data-id="@(ViewContext.HttpContext.Request.Query["CategoryId"])"]').attr('data-name'));
            $('#SearchForm a').click((e) => {
                $('#SearchForm #CategoryId').val($(e.currentTarget).attr('data-id'));
                $('#SearchForm #categoryDropdownMenuButton').html($(e.currentTarget).attr('data-name'))
            });
        });
    </script>
</body>
</html>
